.nav {
  grid-area: nav;
  border-right: 2px solid var(--bg-color-highlight);
  padding: 2px;
}

@media (min-width: 768px) {
  .nav {
    padding: var(--gap-md);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin-left: var(--gap-md);
}

.nav__list-item {
  list-style: none;
  margin-bottom: var(--gap-md);
  max-width: fit-content;
}

.nav__list-link {
  word-wrap: break-word;
}
